* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Microsoft YaHei", "微软雅黑",Tahoma, Verdana, STHeiTi, simsun, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    background: #EBEBEB;
}

ul,li {
    list-style: none;
    display: block;
}

a{
    text-decoration: none;
}
.font_color {
    font-style: "Microsoft YaHei";
    color: #FFFFFF;
    text-align: center;
}

#top {
    width: 100%;
    height: 80px;
    background: #2e2d2b;
    position: fixed;
    top: 0;
    left: 0;
    /*background-image: url(../images/top.png);*/
    z-index: 900;
    color: #FFFFFF;
    overflow: hidden;
}

#navbar-top{
    width: 80%;
    margin-left: 150px;
}

#navbar-top-left {
    width: 500px;
    float: left;
    font-style: "Microsoft YaHei";
    color: #FFFFFF;
    line-height: 80px;
    font-size: 30px;
}

#navbar-top-right {
    width: 300px;
    text-align: right;
    float: right;
}
.logout{
    font-size: 18px;
    margin: 12px 0;
    cursor: pointer;
}
.logout:hover{
    color: #ee8844;
}
.user_info{
    font-size: 14px;
}

#left {
    width: 200px;
    height: 100%;
    /*background-image: url(../images/left.png);*/
    position: fixed;
    top: 80px;
    left: 150px;
    font-size: 14px;
    font-style: "Microsoft YaHei";
}
#right {
    width: 200px;
    height: 100%;
    /*background-image: url(../images/left.png);*/
    position: fixed;
    top: 80px;
    right: 10%;
    font-size: 14px;
    font-style: "Microsoft YaHei";
}

#mainbody {
    margin-left: 380px;
    margin-top: 80px;
    margin-bottom: 104px;
    width: 68%;
}

.mainbody_top {
    margin-bottom: 30px;
    color: #666666;
    font-size: 14px;
}

#footer {
    width: 100%;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    z-index: 900;
    color: #666666;
    background: #ffffff;
    border-top:1px solid #dddddd;
}
/*******************新增样式****************************/

/*mainbody中的头部*/
.mainbody_title_box{
   background: #fff;
   border: solid #dddddd 1px;
   padding: 10px 10px 10px 15px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   color: #666666;
   font-size: 14px;
   margin: 94px 0 20px 0;
}

/*mainbody下的白块 比如分页所属的块*/
.mainbody_white_box{
   background: #fff;
   border: solid #dddddd 1px;
   padding: 10px 10px 10px 15px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   margin-top: -15px;
}

/*mainbody_bottom下的灰块 比如教师管理>查看详情 的灰色块*/
 .main_bottom_graybox{
    background-color: #f1f1f1;
    border: 1px solid #e5e5e5;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding:38px 0 38px 46px;
    margin-left: 5px;
    margin-bottom: 24px;
    display: block;
    color: #666666;
    font-size: 14px;
    overflow: hidden;

 }

/*分页*/
a.pages {
        -moz-border-radius: 5px;
       -webkit-border-radius: 5px;
       border-radius: 5px;
        display: inline-block;
        padding: 0 10px 0 10px;
        height: 22px;
        border: 1px solid #e5e5e5;
        color: #787878;
        font-size: 12px;
        line-height: 22px;
        margin-right: 5px;
    }

a.pages:hover , a.pagescur{
        color: #FFFFFF;
        background-color: #737883;
}



/*首页中的4个块*/
.span_block{
    display: inline-block;
    vertical-align:top;
    width: 21%;
    height: 160px;
    -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   margin-right: 1%;
   margin-bottom: 10px;
   text-align: center;
   padding: 0px 5px;

}
@media (max-width: 1398px){
        .span_block p{
            font-size: 12px;
        }
}
.hoverblock{
    background-color: #f1f1f1;
    border: 1px solid #e5e5e5;
    padding:2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #666666;
    margin: 13px 0 0 43px;
    display: none;
    font-size: 12px;
}


.block_bcolor_red{
    background: #dd5f3e;
}
.block_bcolor_green{
    background: #28b77a;
}
.block_bcolor_yellow{
    background: #ffb748;
}
.block_bcolor_blue{
    background: #28abb7;
}
.block_bcolor_pink{
    background: #cb3c7f;
}
.block_bcolor_orange, .cur_orange{
    background: #ee8844;
}
.cur_light_orange{
    background: #fadbc7;
}
.block_bcolor_black{
    background: #737883;
}

.font_color_red{
    color: #dd5f3e;
}
.font_color_green{
    color: #28b77a;
}
.font_color_yellow{
    color: #ffb748;
}
.font_color_blue{
    color: #28abb7;
}
.font_color_orange{
    color: #ee8844;
}
.font_color_black{
    color: #666666;
}

/**********/
@media (max-width: 1398px){
        div.small_block {
            font-size: 14px;
        }
}
.small_block{
    display: inline-block;
    vertical-align:top;
    -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   margin-right: 1%;
   font-size: 18px;
   padding: 0.8% 1.2%;
}
.b_r{
    -moz-border-radius: 25px;
   -webkit-border-radius: 25px;
   border-radius: 25px;
}


/*胶囊橙底白字按钮**/
button.cap_orange_btn {
    color: #FFFFFF;
    background-color: #ee8844;
    text-decoration: none;
    border: none;
    font-size: 12px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 4px 18px;
}

button.cap_orange_btn:hover {
    background-color: #e9792e;
    cursor: pointer;
    color: #FFFFFF;
}
button.cap_orange_btn:focus {
    outline: none;
}
/**********/

/*胶囊灰底白字按钮**/
button.cap_gray_btn {
    text-decoration: none;
    border: none;
    font-size: 12px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 4px 18px;
}

button.cap_gray_btn:hover {
    background-color: #ee8844;
    cursor: pointer;
    color: #FFFFFF;
}
button.cap_gray_btn:focus {
    outline: none;
}
/**********/

/*橙边橙字按钮**/
.orange_btn{
    border: 1px solid #ee8844;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #ee8844;
    font-size: 18px;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
    background: none;
    display: inline-block;
}

.orange_btn:hover{
    background: #e9e9e9;
}
.orange_btn:focus{
    outline: none;
    /*新增的*/
}

.float_right{
    float: right;
    margin-top: 46px;
}

/**********/

/*首页两个带图标的白色按钮*/
@media (max-width: 1398px){
        p.orange_block{
            font-size: 14px;

        }
        div.white_block p,div.white_block i{
            font-size: 12px;
        }
        p.ch_op i{
            font-size: 12px;
        }
 }
.white_btn{
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
    display: inline-block;
    color: #737883;
    font-size: 10px;
    text-align: center;
    padding: 12%;
    -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}
.white_btn:hover{
    background: #e9e9e9;
}
.gototop{
    background: #FFF;
    border: 1px solid #e5e5e5;
    -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   padding: 5px;
   text-align: center;
   /*float: right;*/
   position: fixed;
   bottom:60px;
   right: 2%;

}
.gototop:hover{
    background: #e9e9e9;
}
/*******/
/*表格样式*/
table.gridtable {
    width: 100%;
    font-size:18px;
    color:#666666;
    border-width: 1px solid red;
    border-collapse: collapse;

}
table.gridtable th {
    border: 1px solid #e5e5e5;
    padding: 8px;
    background-color: #e9e9e9;
}
table.gridtable td {
    border: 1px solid #e5e5e5;
    padding: 8px;
    background-color: #f1f1f1;
    text-align: center;
}
table.gridtable td span.m_left{
    margin-left: 10px;
}
table.gridtable tr.bg_white td{
    background: #FFFFFF;
}
table.gridtable tr.bg_gray td{
    background: #e9e9e9;
}
table.gridtable tr.fontsize_14 td{
    font-size: 14px;
}
@media (max-width: 1398px){
        table.gridtable tr.fontsize_14 td{
            font-size: 12px;
        }
 }
/*******/

/***查看测试列表****/
      #realcontent a{
        background-color: #f1f1f1;
        height: 120px;
        border: 1px solid #e5e5e5;
        margin-left: 5px;
        margin-bottom: 24px;
        display: block;
        color: #666666;
        overflow: hidden;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    #realcontent a:hover {
        background-color: #e9e9e9;
    }
    #realcontent div.adclass_div {
        background-color: #f1f1f1;
        height: 120px;
        border: 1px solid #e5e5e5;
        margin-left: 5px;
        margin-bottom: 24px;
        display: block;
        color: #666666;
        overflow: hidden;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }


    /*选项中的文字*/

    .realcontent_a_p {
        float: left;
        width: 56%;
        padding-left: 58px;
    }

    .circliful_float_right {
        float: right;
        margin: 18px 5% 0 0;
    }
    /*百分比圆环图样式*/

    .circliful {
        position: relative;
    }

    .circle-text,
    .circle-info,
    .circle-text-half,
    .circle-info-half {
        width: 100%;
        position: absolute;
        text-align: center;
        display: inline-block;
        font-size: 1px;
    }
    /*圈内大文字的颜色*/

    .circle-info,
    .circle-info-half {
        color: #999;
        /*bottom: 20px;
    height: 20px;
    line-height: 20px;*/
    }
    /*圈内小文字的颜色*/

    .circliful .fa {
        margin: -10px 3px 0 3px;
        position: relative;
        bottom: 4px;
    }
    /*百分比圆环图样式*/

    .realcontent_a_p p.left_p_content{
    font-size:24px;
    margin:26px 0;
    }
    .realcontent_a_p p.left_p_content span.span_title{
    color:#838891;
    }
    .realcontent_a_p p.left_p_content span.span_deadline{
    margin-left:50px; font-size:18px;
    }
    .realcontent_a_p p.bottom_p_content{
    font-size:14px;
    }

/*班级管理的span 左右margin*/
    p.bottom_p_content span{
        margin:0 8px;
    }
 /******/


 /******/


/*热点图样式*/
.hot_table {
    float: left;
    display: inline-block;
    width: 19%;
    height: 240px;
    background-color: #f2f2f2;
    border:1px solid #cfcfcf;
    border-radius: 2px;
    margin-right: 6px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.hot_table li {
    display: inline-block;
}

.hot_table_title {
    color: #666666;
    font-size: 16px;
    background-color: #e5e5e5;
    border-radius: 2px;
    text-align: center;
    padding: 10px 0;
    border-bottom:1px solid #cfcfcf;
}
.hotpoint_example {
    font-size: 12px;
    color: #666666;
    margin-bottom: 12px;
}

.gray_block {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: #bbbbbb;
    border-radius: 2px;
}

.red_block {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: #dd5f3e;
    border-radius: 2px;
}

.green_block {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: #28b77a;
    border-radius: 2px;
}
.small_block_gray {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 12px;
    background-color: #bbbbbb;
}

.small_block_red {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 12px;
    margin-left: 24px;
    background-color: #dd5f3e;
}

.small_block_green {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 12px;
    margin-left: 24px;
    background-color: #28b77a;
}


#bubblemenu {
    padding: 5px;
}

#bubblemenu li {
    cursor: pointer;
}

#bubblemenu li > div {
    width: 120px;
    min-height: 40px;
    position: absolute;
    display: inline;
    margin-left: -50px;
    padding: 5px;
    visibility: hidden;
    opacity: 0;
    margin-top: -50px;
    color: #FFF;
    font-size: 12px;
    background-color: #55aee5;
    /* Setting the border-radius property for all Browsers */
    -moz-border-radius: 5px;
    /* Firefox */
    -webkit-border-radius: 5px;
    /* Safari and Chrome */
    border-radius: 5px;
    /* Browsers that Support it like Opera */
    /* Setting the box-shadow property for all Browsers */
    -moz-box-shadow: 0 0 8px gray;
    /* Firefox */
    -webkit-box-shadow: 0 0 8px gray;
    /* Safari and Chrome */
    filter: progid: DXImageTransform.Microsoft.Shadow(color='#272229', Direction=135, Strength=3);
    /* IE */
    box-shadow: 0 0 8px gray;
    /* Browsers that Support it like Opera */
    /* Setting the transition property for all Browsers */
    -moz-transition: all 0.5s ease-in-out;
    /* Firefox */
    -webkit-transition: all 0.5s ease-in-out;
    /* Safari and Chrome */
    -o-transition: all 0.5s ease-in-out;
    /* Opera */
    transition: all 0.5s ease-in-out;
    /* Browsers that Support it */
}

#bubblemenu li:hover > div {
    visibility: visible;
    opacity: 1;
    margin-top: -60px;
    /* Setting the transition property for all Browsers */
    -moz-transition: all 0.5s ease-in-out;
    /* Firefox */
    -webkit-transition: all 0.5s ease-in-out;
    /* Safari and Chrome */
    -o-transition: all 0.5s ease-in-out;
    /* Opera */
    transition: all 0.5s ease-in-out;
    /* Browsers that Support it */
}
.color-yellow {
    color: yellow;
}
/******/



select.cap_select {
    border: none;
    outline: none;
    color: #717171;
    font-size: 14px;
    border: 1px solid #737883;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 0 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.capsule_div{
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 5px 18px;
    border: 1px solid #cfcfcf;
    display: inline-block;
}


a.operate{
}
a.operate:hover{
    color: #666666;
}

 /*******************************************************/

/****账户管理>新增账户 下的span*******/
span.info_tittle{
    display: inline-block;
    width: 150px;
    text-align: right;
    font-size: 18px;
    margin-right: 10px;
    margin-left: -45px;
    padding: 15px 0;
}
/***************************************/

/****账户管理>新增账户 下的input*******/
input.cap_input{
    outline: none;
    color: #717171;
    font-size: 18px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 3px 15px;
    margin-right: 10px;
    margin-bottom: 5px;
}
input.cap_input_small{
    outline: none;
    color: #717171;
    font-size: 12px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 2px 10px;
    margin-right: 10px;
    margin-bottom: 5px
}
.block_bcolor_gray{
    background: #f1f1f1;
}
.block_bcolor_black{
    background: #999999;
}
.border_color_gray{
    border: 1px solid #cfcfcf;
}
.border_color_black{
    border: 1px solid #737883;
}
.border_color_e{
    border: 1px solid #e5e5e5;
}
.font_color_gray{
    color: #737883;
}
.font_size_55{
    font-size: 55px;
}
.font_size_38{
    font-size: 38px;
}
.font_size_32{
    font-size: 32px;
}
.font_size_24{
    font-size: 24px;
}
.font_size_18{
    font-size: 18px;
}
.font_size_12{
    font-size: 12px;
}
.font_size_14{
    font-size: 14px;
}
/***************************************/
/****账户管理>新增账户 下的橙色按钮*******/
button.square_orange_btn {
    color: #FFFFFF;
    background-color: #ee8844;
    text-decoration: none;
    border: none;
    margin-left: 12px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 46px;
}

button.square_orange_btn:hover {
    background-color: gray;
    cursor: pointer;
    color: #FFFFFF;
}
button.square_orange_btn:focus {
    outline: none;
}
/***************************************/
/****测试管理>布置测试 下的下一步按钮*******/
button.square_step_btn {
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    margin-left: 12px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 46px;
}
button.square_step_btn:focus {
    outline: none;
}
/***************************************/

/****测试管理>分组管理  灰色块中的 p标签*******/
p.group_block_tittle{
    font-size: 24px;
    color: #737883;
    margin:-10px 0 15px 0
}
/***************************************/


/*排序的箭头  显示手指*/
.show_cursor{
    cursor: pointer;
}


/*分组管理 几个灰色的块 选中时 X出现*/
a.span_block:hover i.close{
    color: #dd5f3e;
}
/*让X 在右边显示*/
.text_right{
    text-align: right;
}
.text_center{
    text-align: center;
}
.font_color_f{
    color: #f1f1f1;
}


/*测试管理>分组管理 下的新建分组按钮*/
a.square_orange_btn {
    display: inline-block;
    color: #FFFFFF;
    background-color: #ee8844;
    text-decoration: none;
    border: none;
    margin-left: 12px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 46px;
}

a.square_orange_btn:hover {
    background-color: gray;
    cursor: pointer;
    color: #FFFFFF;
}

/****测试管理>分组管理>新建分组input*******/
input.newgroup_input{
    outline: none;
    height: 48px;
    width: 50%;
    line-height: 48px;
    color: #717171;
    font-size: 24px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    margin:40px 0 30px 0;
}

/****测试管理>查看测试>测试详情 成绩 块*******/
.score_block{
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 30%;
    height: 150px;
    margin-right: 2%;
    vertical-align: top;
}

p.distance{
    margin:40px 0 5px 0;
}

i {
    font-family: "Microsoft YaHei", "微软雅黑",Tahoma, Verdana, STHeiTi, simsun, sans-serif;
}


/*选中的对勾 的样式*/
.append_check_circle{
    position: relative;
    margin-top: -90px;
    display: block;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity:0.9;
}


/***************************************/











/**************************/
    /*new css  第二步出题*/

    #make_paper,
    #make_paper a {
        color: #666666;
    }

    #make_paper ul,
    #make_paper li {
        display: block;
    }

    #myul ul {
        display: none;
    }
    /*出题界面的 一级目录*/

    #myul a {
        height: 46px;
        width:252px;
        line-height: 46px;
        display: inline-block;
    }
    /*出题界面的 二级目录*/

    .secondfloor li {
        font-size: 14px;
        text-indent: 58px;
        height: 46px;
        line-height: 46px;
    }
    /*一级和二级目录下的a标签的(第一个点击项) 间距*/

    .firstfloor a {
        text-indent: 85px;
        background-position: 60px center;
    }

    .secondfloor a {
        text-indent: 115px;
        background-position: 90px center;
    }

/*三级菜单的span标题*/
    .secondfloor>ul>li>span.thirdfloortitle{
        width:275px;
        display: inline-block;
    }


    #make_paper input[type=text] {
        width: 146px;
        height: 26px;
        border:1px solid #cfcfcf;
        text-align: center;
        color: #de5f3e;
        font-size: 20px;
    }

    li.firstfloor>ul,
    li.firstfloor>div {
        border-bottom: 1px solid #e5e5e5;
        background-color: #f1f1f1;
    }
    /*选择题目数量的块 包括checkbox 数量加减*/

    .set_count_div {
        display: inline-block;
        margin-left: -235px;
        vertical-align: bottom;
        position: relative;
        right: -48%;
    }
    /*一级知识点题目数量文字样式*/

    div.set_count_div span.firsttextcount {
        line-height: 46px;
        font-size: 18px;
        margin-left: 136px;
    }
    /*一级知识点题目数量文字样式*/

    div.set_count_div span.secondtextcount {
        line-height: 46px;
        font-size: 14px;
        margin-left: 139px;
    }
    /*一级和二级知识点题目数量数字样式*/

    div.set_count_div span.firstnumcount {
        line-height: 46px;
        font-size: 24px;
        color: #55aee5;
    }

    div.set_count_div span.secondnumcount {
        line-height: 46px;
        font-size: 20px;
        color: #55aee5;
    }
    /*自定义checkbox*/

    .choose_box {
        display: inline-block;
        width: 28px;
        height: 28px;
        border: 2px solid #737883;
        border-radius: 5px;
        vertical-align: bottom;
        margin-bottom: 8px;
        margin-right: 40px;
        cursor: pointer;
    }
    /*自定义checkbox 被选中*/

    .choose_ischeck {
        background-image: url(../images/tcik.png);
    }
    /*加减按钮的样式*/

    #myul input.subone {
        width: 26px;
        height: 28px;
        background-color: #737883;
        color: #FFFFFF;
        font-size: 22px;
        vertical-align: middle;
        border: 1px solid #cfcfcf;
        margin-bottom: 5px;
        margin-left: -148px;
    }

    #myul input.addone {
        width: 26px;
        height: 28px;
        background-color: #737883;
        color: #FFFFFF;
        font-size: 22px;
        vertical-align: middle;
        border: 1px solid #cfcfcf;
        margin-bottom: 5px;
        margin-left: 96px;
    }



    /*第三步 题目总览 样式*/
#thirdstep div.data_object{
    border:1px solid #e5e5e5;
    margin-bottom: 24px;
    background-color: #f1f1f1;
    -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}
#thirdstep p.title_num{
    padding: 10px 10px 0 17px;
}
#thirdstep p.title_num span{
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    background-color: #717171;
    display: inline-block;
}
#thirdstep div.content{
    padding: 0 60px 0 60px;
    color: #717171;
    font-size: 14px;
}
#thirdstep div.content p{
    margin-bottom: 15px;
}
#thirdstep div.content p.checkdetail{
    text-align: right;
    color: #ee8844;
    font-size: 16px;
    cursor: pointer;
}
#thirdstep div.content p.checkdetail:hover{
    color: gray;
}
#thirdstep div.details{
    display: none;
}
 /*胶囊*/
    .capsule {
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        height: 34px;
        background: #28b67a;
        text-align: center;
        line-height: 34px;
        display: inline-block;
        min-width: 20px;
        padding: 0 18px;
        margin-right: 28px;
        margin-bottom: 34px;
    }

/*换题按钮*/
.btn_change_test{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
    border: none;
    width: 88px;
    height: 38px;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 1px;
    background-color:#ee8844;
    cursor: pointer;
}
.btn_change_test:hover{
    background-color: gray;
}

/*第四步 设置时间发布卷子样式*/
#set_pubtime_box{
        padding: 60px 0 60px 25px;
        border: 1px solid #e5e5e5;
        background: #f1f1f1;
        color: #717171;
        font-size: 18px;
        margin: 0 auto;
        text-align: left;
        -moz-border-radius: 5px;
       -webkit-border-radius: 5px;
       border-radius: 5px;
    }

    #publish_settime a{
        display:inline-block;
        padding: 10px 18px;
        margin-top: 68px;
        margin-right: 60px;
        font-size: 24px;
        color: #FFFFFF;
        background-color: #ee8844;
        -moz-border-radius: 5px;
       -webkit-border-radius: 5px;
        border-radius: 5px;
    }
    #publish_settime a:hover{
        color: #FFFFFF;
        background: gray;
    }
    #set_pubtime_box select, #set_pubtime_box input{
        border: 1px solid #cfcfcf;
        width: 165px;
        height: 30px;
        background: #f1f1f1;
        color: #717171;
        font-size: 18px;
        text-align: center;
        -moz-border-radius: 25px;
       -webkit-border-radius: 25px;
       border-radius: 25px;
    }

/***************************/


/**********点击正确率查看详情******************/
#show_page {
        color: #666666;
        font-size: 24px;
        text-align: center;
    }
    /*页码下的题目分析的div*/

    #show_solution {
        background-color: #f1f1f1;
        width: 80%;
        overflow: hidden;
        margin: 0 auto;
        border: 1px solid #e5e5e5;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 20px 28px 20px 28px;
    }

    #show_solution ul {
        height: 450px;
    }

    #show_solution ul li {
        height: 480px;
        display: inline-block;
        overflow: auto;
        width: 100%;
    }

    #show_solution p {
        font-size: 12px;
        color: #717171;
        margin-bottom: 28px;
    }
    /*圆圈按钮*/

    .circle_button {
        background-color: #f1f1f1;
        border: 1px solid #e5e5e5;
        -moz-border-radius: 90px;
        -webkit-border-radius: 90px;
        border-radius: 90px;
        width: 48px;
        height: 48px;
        color: #737883;
        text-align: center;
        line-height: 42px;
        font-size: 48px;
        cursor: pointer;
    }

    .circle_button:hover {
        background-color: #ddd;
        color: #FFFFFF;
    }
    /*每个选项的答题情况的div*/

    #show_count {
        width: 80%;
        overflow: hidden;
        margin: 0 auto;
        color: #717171;
        font-size: 12px;
    }

    #show_count ul {
        height: 300px;
    }

    #show_count ul li {
        height: 300px;
        display: inline-block;
        overflow: auto;
        width: 100%;
    }

    #show_count p {
        margin: 15px 0 15px 6px;
    }
/****************************/



/*
*布置测试导航栏样式
* 2016.1.25
 */
button.stepbutton{
    background: none;
    border: 1px solid #ffffff;

}
button.stepbutton:focus{
    outline: none;
}
button.stepbutton i{
    margin: 0 auto;
    color: #FFF;
    -moz-border-radius: 25px;
   -webkit-border-radius: 25px;
    border-radius: 25px;
    font-size: 24px;
    display: block;
    width: 42px;
    height: 42px;
    line-height: 42px;
}
button.stepbutton span{
    display: block;
    font-size: 12px;
    margin-top:8px;
}
hr{
    display: inline-block;
    width: 30px;
    color: #dddddd;
}
/*************************/


/*
*登录页面css
*2016.1.19
* 14:21
 */

  #logindiv{
      background-image: url(../images/content_bg.png);
      background-repeat: no-repeat;
      width: 487px;
      height: 506px;
      position: absolute;;
      left: 50%;
      margin-left: -210px;
      top: 50%;
      margin-top: -290px;
  }

  #logindiv form {
    width: 417px;
    height: 310px;
    margin-top: 193px;
  }

  #logindiv input{
    font-family: "Microsoft YaHei";
    border: none;
    background: none;
    font-size: 16px;
    color: #737883;
    height: 30px;
    width: 252px;
  }
  #logindiv input:focus{
    outline: none;
  }
  #logindiv button{
      color: #FFF;
      border: none;
      border-color: #d8d4c6;
      background: #ee8844;
      font-size: 18px;
      width: 360px;
      height: 46px;
      margin: 42px 0 0 30px;
  }
  #logindiv button:hover{
      cursor: pointer;
      background: #e9792e;
  }
  button{
      font-family: "Microsoft YaHei";
  }

/*************/



/*体系建设*/
/*层级样式*/
.systemrow {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    margin-left: 8px;
}
.orange_block{
    font-size: 24px;
    padding: 3px 10px;
    margin-bottom: 8px;
    background: #ee8844;
    -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
    border-radius: 5px;
}
.orange_block:hover .fr_c_s{
    color: #FFFFFF;
}
.fr_c_s{
    margin-top:4px;
    margin-left: 8px;
    float: right;
    color: #ee8844;
}
.fr{
    float: right;
    margin:4px 0 0 4px;
}
.white_block{
    padding: 6px 10px;
    margin-bottom: 12px;
    border: 1px solid #d7d7d7;
    -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
    border-radius: 5px;
}

p.ch_op i{
    cursor: pointer;
    font-size: 20px;
    margin: 0 2px;
}
.white_block:hover p.ch_op{
    color: #ee8844;
}
.white_block:hover{
    background: #fadbc7;
}
input.in_level_name{
    width: 60%;
    height: 24px;
    font-size: 14px;
}
/********************************/
.mask {
    position: absolute; top: 0px; filter: alpha(opacity=60); background-color: #777;
    z-index: 1002; left: 0px;
    opacity:0.5; -moz-opacity:0.5;
}
div.appendbody{
    width:560px;
    position:absolute;
    z-index: 1100;
    left: 50%;
    margin-left: -280px;
    top: 30%;
}

div.infobox{
    padding-top: 10px;
}

div.search_box{
    border-top: 1px solid #e5e5e5;
    margin-top: 70px;
    padding: 16px 0 70px 0;
}
div.search_box span{
    font-size: 12px;
    color: #737883;
}
div.search_box input{
    width:10%;
}

div.add_box{
    padding: 70px 0;
}
div.add_box i{
    font-size: 58px;
}
div.add_box span{
    vertical-align: super;
}
